<div class="header-container" fxLayout="row">
    <div fxLayou="row" fxLayoutGap="10px">
        <img src="assets/plane.png" alt="" class="plane-img">
        <span class="header-text">Welcome to Sky Connect Airlines</span>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
        <button class="btn btn-primary search-button" (click)="goToHome()">Home</button>
        <button class="btn btn-primary search-button" (click)="goToContactUs()">Contact Us</button>
        <button class="btn btn-primary search-button" (click)="goToBookedTickets()">Booked Tickets</button>
    </div>
</div>